cmake-build-debug/
build/
*/build/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
install_manifest.txt
CTestTestfile.cmake
Testing/

*.dir
*.obj
*.o
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.ipch
*.pch
*.vcxproj*
*.sln

.idea/
.vscode/
*.iml
*.user
*.ncb
*.suo
*.opensdf
*.VC.db
*.VC.VC.opendb

*~
*.swp
*.swo
*.tmp
*.log

.DS_Store

Thumbs.db

*.zip
*.tar.gz
*.7z
*.rar
